-- Pull in the wezterm API
local wezterm = require("wezterm")

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is only for WSL
-- config.default_domain = "WSL:Ubuntu-22.04"

-- or, changing the font size and color scheme.
config.font = wezterm.font("FiraCode Nerd Font Mono Med")
config.font_size = 12

-- disable tab bar
config.enable_tab_bar = false

-- Kanso Ink color

config.force_reverse_video_cursor = true

config.colors = {
	foreground = "#C5C9C7",
	background = "#14171d",

	cursor_bg = "#C5C9C7",
	cursor_fg = "#14171d",
	cursor_border = "#C5C9C7",

	selection_fg = "#C5C9C7",
	selection_bg = "#393B44",

	scrollbar_thumb = "#393B44",
	split = "#393B44",

	ansi = {
		"#14171d",
		"#C4746E",
		"#8A9A7B",
		"#C4B28A",
		"#8BA4B0",
		"#A292A3",
		"#8EA4A2",
		"#A4A7A4",
	},
	brights = {
		"#A4A7A4",
		"#E46876",
		"#87A987",
		"#E6C384",
		"#7FB4CA",
		"#938AA9",
		"#7AA89F",
		"#C5C9C7",
	},
}

config.window_decorations = "RESIZE"

-- Finally, return the configuration to wezterm:
return config
