{{ if and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease) }}
[shell]
program = "wsl"
args = ["-d", "Ubuntu-22.04"]
{{ end }}

font:
  normal:
    family: "FiraCode Nerd Font"
    style: Regular
  size: 13.0
